{% extends '@VinilShop/admin_layout.html.twig' %}


   {% block titleMenu %}
       Рекламный слайдер
   {% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-5">
                {% if  not slider %}
                    <div class="font-15pt margin-bottom15px">
                        В рекламном слайдере нет изображений
                    </div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.images, {'label': 'Добавить еще', 'attr' : {'class' : 'btn btn-outline-primary'}}) }}
                {{ form_row(form.submit, {'label': 'Добавить'}) }}
                {{ form_end(form) }}

                <br>


                {% for item in slider %}
                    <div class="p-1">
                        <div class="position-relative">
                            <img src="{{ asset(dvertising_slider_images) }}{{ item.image }}" style="width: 100%" />
                            <span class="item-id" data-item-id="{{ item.id }}"></span>
                            <button type="button" class="btn-sm btn-outline-danger adv-slidr-del-btn">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-7 border-left-info height-max-content">
                <b>Примечания:</b>
                <br>
                <b>1.</b>Расширение изображений *.jpeg или *.png.
                <br>
                <b>2.</b>Размер строго <b>400х70</b> px.
                {#<br>#}
                {#<b>3.</b> Титульное изображение должно иметь соотношение сторон 1х1.#}

            </div>
        </div>
    </div>


{% endblock %}
