{% extends '@VinilShop/layout.html.twig' %}

{% block body %}
    <div class="margin-top30px">
        {% if message %}
            <div class="row justify-content-center">
                <div class="card border-danger mb-3" style="width: 500px; display: block">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas text-danger fa-exclamation-triangle"></i> Ошибка</h4>
                        <p class="card-text">{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="conteiner">
            <div class="row justify-content-center">
                <div class="col-1 col-sm-1 col-md-2">
                </div>
                <div class="col-10 col-sm-8 col-md-7 col-lg-5 margin-top30px">
                    <div class="card border-primary register-form">
                        {{ form_start(form) }}
                            {{ form_row(form.username, {'label':'Логин' , 'attr' : {'placeholder':'Логин'}}) }}
                            {{ form_row(form.email, {'attr' : {'placeholder':'Email'}}) }}
                            {{ form_row(form.plainPassword.first, {'attr' : {'placeholder':'Пароль'}}) }}
                            {{ form_row(form.plainPassword.second,{'label':false , 'attr' : {'placeholder':'Повторите пароль'}}) }}
                            {{ form_row(form.submit,{'attr': {'class': 'btn btn-primary btn-lg '}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
