{% extends '@VinilShop/layout.html.twig' %}

{% block pathTree %}
    <div>
        <a href="{{ path('home_page') }}" class="btn btn-secondary path-tree-button"><i class="fas fa-home"></i> Главная</a>
        &#160;
        <a href="{{ path('categotyes_list') }}" class="btn btn-secondary path-tree-button">&#9899; Категории</a>
        &#160;
        <a class="btn btn-secondary path-tree-button">&#9899; {{ categoryes[0].parent.name }}</a>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            {% for category in categoryes %}
                <div class="margin-top20px margin-right20px float-left ">
                    <div class="gallery cf">
                        <div>
                            <div class="text-center font-12pt">
                                {% if (category.lastCategory) %}
                                <a href="{{ path('products_by_category', {id : category.id})}}" >
                                    <img src="{{ asset(category_title_img) }}{{ category.titleImage }}">
                                </a>
                                {% else %}
                                    <a href="{{ path('children_categotyes', {id : category.id})}}" >
                                        <img src="{{ asset(category_title_img) }}{{ category.titleImage }}">
                                    </a>
                                {% endif %}
                                <br>
                                <div class="name-field-in-category-list">
                                 {{ category.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
