
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop</title>

    {#<link href="{{ asset('bundles/vinilshop/css/bootstrap.css') }}" rel="stylesheet">#}
    <link href="{{ asset('bundles/vinilshop/css/bootstrap-vinil-shop.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/vinilshop/css/style.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('bundles/vinilshop/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vinilshop/css/fa-brands.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vinilshop/css/fa-regular.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/vinilshop/css/fa-solid.css') }}">

    {% block style %}

    {% endblock %}

</head>

<body class="padding-top0">

<div class="blue-ua height5px"></div>
<div class="yellow-ua height5px"></div>

<main role="main" class="container" style="height: 100vh;">

    <div class="row">

        <div class="col-12 col-md-8 border border-dark">222
        </div>
        <div class="col-12 col-md-4 bg-white  padding15px border border-info">
            <div class="float-right">
                <a href="#" class="font-15pt text-success">Вход</a>
                &#160;&#160;&#160;
                <a href="#" class="font-15pt">Регистрация</a>
            </div>
            <br>
            <br>
            <div class="float-right padding-top15px padding-right20px">
                <i class="far fa-envelope font-15pt text-danger"></i> <span class="font-12pt">s03540@gmail.com</span>
                <br>
                <i class="fas fa-phone-volume font-15pt text-danger margin-top5px"></i> <span class="font-12pt">+38(099)-40-34-758</span>
                <br>
                <i class="fas fa-map-marker-alt font-15pt text-danger margin-top5px"></i> <span class="font-12pt">г.Киев Спортивная площадь, 1a</span>
                <br>
                <i class="far fa-clock font-15pt text-danger margin-top5px"></i> <span class="font-12pt">Пн-Пт: 10:30-19:00 / Сб: 12:00-17:00</span>
            </div>
        </div>
    </div>


        {% block slider %}
        {% endblock %}


    <div class="row" id="main-menu-row">
        <div class="col-12 col-sm-4 col-md-3 border border-dark" id="main-menu-col">

            <div class="margin-top20px">
                {#{{ knp_menu_render('VinilShopBundle:Builder:mainMenu',{'allow_‌​safe_labels': true})|raw }}#}
                {{ knp_menu_render('VinilShopBundle:Builder:mainMenu',{'allow_safe_labels': true})|raw }}
            </div>

        </div>
        <div class="col-12 col-sm-8 col-md-9 border border-dark">
            {% block pathTree %}

            {% endblock %}

            {% block body %}

            {% endblock %}
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ asset('bundles/vinilshop/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/vinilshop/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/vinilshop/js/shop.js') }}"></script>
{% block scripts %}

{% endblock %}

</body>
</html>





