{% extends '@VinilShop/admin_layout.html.twig' %}

{% block titleMenu %}
    <span id="order-state-in-show-page">
        {% if order.state.id in [5,7] %}
            <i class="far font-45pt text-success fa-check-circle"></i>
        {% else %}
            <i class="far font-45pt text-warning fa-clock"></i>
        {% endif %}
    </span> {{ order.number }}
{% endblock %}
{% block body %}

    <div class="container">

        <div id="status-icons-for-order-page">
            <i id="active-false-icon" class="far font-45pt text-success fa-check-circle" style="display: none"></i>
            <i id="active-true-icon" class="far font-45pt text-warning fa-clock"  style="display: none"></i>
            <i id="active-question-icon" class="far font-45pt text-danger fa-question-circle"  style="display: none"></i>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h5>Информация о заказе:</h5>
                <div class="font-12pt">
                    <i class="fas text-success fa-truck"></i>
                    <span>
                        <span class="order-id-data" data-order-id="{{ order.id }}"></span>
                        <i class="order-select-spiner fa fa-spinner fa-pulse font-15pt fa-fw"  style="margin-left: 70px"></i>
                        <select class="order-select" style="display: none">
                            {% for state in states %}
                                <option value="{{ state.id }}"
                                        {% if state.id == order.state.id %}
                                    selected="selected"
                                        {% endif %}>{{ state.name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
                <div class="font-12pt">
                    <i class="far text-success fa-money-bill-alt"></i>
                    <span class="text-white">Сумма заказа (без доставки): <b>{{ order.price|number_format(0,'',' ') }}</b> грн.</span>
                </div>
                <div class="font-12pt">
                    <i class="fas text-success fa-user"></i>
                    <span class="text-white">Получатель: <b>{{ order.buyerName }}</b></span>
                </div>
                <div class="font-12pt">
                    <i class="fas text-success fa-map-marker-alt"></i>
                    <span class="text-white">Адрес доставки: <b>{{ order.address }}</b></span>
                </div>
                <div class="font-12pt">
                    <i class="far text-success fa-calendar-alt"></i>
                    <span class="text-white">Дата заказа: <b>{{ order.dateCreate|date("d.m.Y") }}</b></span>
                </div>
                <div class="font-12pt">
                    <i class="far text-success fa-comment-alt"></i>
                    <span class="text-white">Комментарий:
                        {% if order.description %}
                            <br>
                        {{ order.description }}
                        {% else %}
                            Пользователь не оставил комментарий.
                        {% endif %}
                        </span>
                </div>
                <div class="font-12pt">
                    <i class="fas text-success fa-file-alt"></i>
                    <span class="text-white">Товары: </span>
                </div>
                <br>
            </div>
            <div class="col-sm-12 col-md-6">
                <h5>Заказчик:</h5>
                {% if order.user %}
                    <div class="font-12pt">
                        <i class="fas text-success fa-user"></i>
                        <span class="text-white">Логин: <b>{{ order.user.username }}</b></span>
                    </div>
                    <div class="font-12pt">
                        <i class="fas text-success fa-at"></i>
                        <span class="text-white">Email: <b>{{ order.user.email }}</b></span>
                    </div>
                {% else %}
                    <div class="font-12pt">
                        <i class="fas text-warning fa-user-times"></i>
                        <span class="text-white">Незарегистрированный пользователь</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Кол.</th>
                        <th class="text-right" scope="col">Цена/шт.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.orderProducts %}
                        <tr>
                            <th  style="vertical-align: middle;">{{ loop.index }}</th>
                            <td style="vertical-align: middle;">
                                <img class="float-left" src="{{ asset(images_of_entities) }}{{ item.product.titleImage }}" style="height: 50px">
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="{{ path('product_show', {id :  item.product.id}) }}" target="_blank">
                                    {{ item.product.name }}
                                </a>
                            </td>
                            <td style="vertical-align: middle;" class="text-center">
                                {{  item.amount }} шт.
                            </td>
                            <td class="text-right" style="vertical-align: middle;">
                                {{  item.priceForOne|number_format(0,'',' ') }} грн.
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>


{% endblock %}
