{% extends '@VinilShop/admin_layout.html.twig' %}
{% block body %}
    <div class="block-center titleImagePic">
            <img src="{{ asset(images_of_entities) }}{{ product.titleImage }}" height="110">
    </div>
    {{ form_start(form) }}

        <div class="disp-none titleImageImputEdid">
            {{ form_row(form.titleImage, {'label': 'Титульное изображение'}) }}
        </div>

        <div>
            <button type="button" class="titleImageImputBut btn btn-primary offset-sm-3 col-6">Изменить</button>
        </div>

{#Templete form#}
    <div class="row attribRow block-attribs-template disp-none">

        <div class="col-md">
            <div class="form-group attrib-name">

            </div>
        </div>

        <div class="col-md">
            <div class="form-group attrib-value">

            </div>
        </div>

        <div class="delRow col-md-3">
                <button type="button" class="delRowButton btn btn-outline-danger">Delete</button>
        </div>

    </div>
{#End template#}

<div class="collection border border-warning">

    <div class="attributes_name" data-prototype_name="{{ form_widget(form.attributes.vars.prototype.name)|e('html_attr') }}"></div>
    <div class="attributes_value" data-prototype_value="{{ form_widget(form.attributes.vars.prototype.value)|e('html_attr') }}"></div>


    {% for attributeField in form.attributes %}

    <div class="row attribRow">
        <div class="col-md">
            {#{{ attributeField.vars.data.name.name }}#}
                {{ form_row(attributeField.name,  {'label': false }) }}
        </div>
        <div class="col-md">
            {{ form_row(attributeField.value,  {'label': false}) }}
        </div>
        <div class="delRow col-md-3">
            <button type="button" class="delRowButton btn btn-outline-danger">Delete</button>
        </div>

    </div>

    {% endfor %}
    <button type="button" class="addAttributeButton btn btn-primary">Добавить</button>
</div>

        {{ form_row(form.name, {'label': 'Наименование'}) }}
        {#{{ form_row(form.category, {'label': 'Категория'}) }}#}

        <div class="manufInput">
            {{ form_row(form.manufacturer, {'label': 'Производитель','attr':{'class':'manufInput'}}) }}
         </div>
        <div class="disp-none newManufInput ">
            {{ form_row(form.new_manufacturer, {'label': false }) }}
        </div>
        <div class="row">
            <button type="button" class="manufDispBtn btn btn-primary offset-sm-3 col-6" >Добавить нового</button>
        </div>
        {{ form_row(form.price, {'label': 'Цена'}) }}
        {{ form_row(form.description, {'label': 'Описание'}) }}
        {{ form_row(form.otherImages, {'label': 'Остальные изображения'}) }}
        {{ form_row(form.isActive, {'label': 'Есть в наличии'}) }}
        {{ form_row(form.submit, {'label': 'Редактировать'}) }}

    {{ form_end(form) }}

    {#<div>#}
        {#<div>Примечание:</div>#}
        {#Категория может не входить не в одну из существующих. Для этого поле "Родительская категория" нужно оставить пустым.#}

    {#</div>#}
{% endblock %}
