{% extends '@VinilShop/admin_layout.html.twig' %}


      {% block titleMenu %}
          Редактирование товара
      {% endblock %}

{% block body %}

    <span class="amount_attributes" data-amount-attributes="{{ amount_attributes }}"></span>
    {{ form_start(form) }}
    {#Templete form#}
    <div class="row attribRow block-attribs-template disp-none">
        <div class="col-md-5">
            <div class="form-group attrib-name">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group attrib-value">
            </div>
        </div>
        <div class="delRow col-md-2">
            <button type="button" class="delRowButton btn btn-danger"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    {#End template#}

<div class="container-fluid">
    <div class="border-left-info padding-left20px margin-bottom15px">
        <b>Примечания:</b>
        <br>
        <b>1.</b> В "Описании" для форматирования текста можно использовать HTML теги
        (&#60;br&#62;, &#60;b&#62;, &#60;i&#62;, ...).
        <br>
        <b>2.</b> Желательно чтобы высота титульного изображения была больше его ширины.
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            {{ form_row(form.name, {'label': 'Наименование'}) }}
            {{ form_row(form.price, {'label': 'Цена'}) }}
            {{ form_row(form.isActive, {'label': 'Есть в наличии'}) }}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                {{ form_row(form.manufacturer, {'label': 'Производитель','attr':{'class':'manufInput'}}) }}

        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card text-white bg-secondary margin-bottom15px">
                <div class="card-header ">
                    Характеристики
                </div>
                <div class="collection card-body">
                    <div class="attributes_name" data-prototype_name="{{ form_widget(form.attributes.vars.prototype.name)|e('html_attr') }}"></div>
                    <div class="attributes_value" data-prototype_value="{{ form_widget(form.attributes.vars.prototype.value)|e('html_attr') }}"></div>
                    {% for attributeField in form.attributes %}
                        <div class="row attribRow">
                            <div class="col-md-5">
                                {#{{ attributeField.vars.data.name.name }}#}
                                {{ form_row(attributeField.name,  {'label': false }) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(attributeField.value,  {'label': false}) }}
                            </div>
                            <div class="delRow col-md-2">
                                <button type="button" class="delRowButton btn btn-danger"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="button" class="addAttributeButton btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.description, {'label': 'Описание', 'attr' : {'class' : 'height120px'}}) }}
    <div class="card border-primary mb-3">
        <div class="card-header">Изображения галереи
            <button type="button" title="Показать/скрыть" class="btn-sm btn-primary float-right gallery-image-toggle-button">
                <i class="fas fa-angle-double-up "></i>
                <i class="fas fa-angle-double-down"></i>
            </button>
        </div>
        <div class="card-body" >

            {% for image in product.galleryImages %}
                <div class="gallery position-relative">
                    <a target="_blank" class="float-left">
                        <img src="{{ asset(gallery_images) }}{{ image.name }}" alt="Fjords" width="300" height="200">
                    </a>
                    <div class="position-absolute" style="bottom: 3px; right: 3px">
                        <span class="image-id" data-image-id="{{ image.id }}"></span>
                        <button type="button" title="Удалить" class="gallery-image-button btn-sm btn-outline-danger margin-top10px" id="{{ image.id }}"><i class="fas fa-trash"></i></button>
                    </div>
                </div>

            {% endfor %}

        </div>


    </div>
</div>

    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div class="block-center titleImagePic">
                <img src="{{ asset(images_of_entities) }}{{ product.titleImage }}" height="110">
            </div>
            <div class="disp-none titleImageImputEdid">
                {{ form_row(form.titleImage, {'label': 'Титульное изображение', 'attr' : {'class' : 'btn btn-outline-primary'}}) }}
            </div>
            <div class="row justify-content-center">
                <button type="button" class="titleImageImputBut btn btn-primary">Изменить</button>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            {{ form_row(form.otherImages, {'label': 'Файлы гелереи', 'attr' : {'class' : 'btn btn-outline-primary'}}) }}
        </div>
    </div>
    {{ form_row(form.submit, {'label': 'Редактировать'}) }}
</div>

    {{ form_end(form) }}

{% endblock %}
